body {
  background: none !important;
  overflow: hidden !important;
  user-select: none;
  margin: 0;
}

:root {
  color-scheme: normal !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-gray-400);
  border-radius: 50vh;
}
